@import "theme.css";

* {
	all: initial;
	/* Reset GTK theme */
}

@import "styles/fonts.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";

#waybar {
	background-color: transparent;
	/* background-color: @outline; */
	background-image: url("file:///home/adrien/.config/waybar/assets/background.png");
	background-repeat: no-repeat;
}

#waybar>box {
	padding: 4px;
}

button {
	border-radius: 16px;
	min-width: 16px;
	padding: 0 10px;
}

tooltip {
	border: 2px solid @ciel;
	border-radius: 10px;
	background-color: @marine;
}

tooltip label {
	color: @violet;
	text-shadow: 1px 1px 4px @violet;
}

tooltip>box {
	padding: 0 6px;
}