@import "theme.css";

* {
	all: initial;
	/* Reset GTK theme */
}

@import "styles/fonts.css";
@import "styles/workspace_and_power.css";
@import "styles/media_controls.css";
@import "styles/song_details.css";
@import "styles/date_time.css";
@import "styles/specs.css";
@import "styles/states.css";

#waybar>box {
	padding: 0 4px;
}

button {
	border-radius: 16px;
	min-width: 16px;
	padding: 0 10px;
}

#tray menu,
tooltip {
	border: 2px solid @ciel;
	border-radius: 10px;
	background-color: @marine;
}

#tray menu menuitem,
tooltip label {
	color: @violet;
	text-shadow: 1px 1px 4px @violet;
}

#tray menu,
tooltip>box {
	padding: 0 6px;
}