#date_time {
	background-image: url("file:///home/adrien/.config/waybar/assets/date_time.png");
	background-position: center;
	background-repeat: no-repeat;
	padding-right: 28px;
	padding-left: 24px;
}

/*----------
    Time
----------*/

#clock.time {
	font-size: 24px;
	font-family: "DS\-Digital";
}