.modules-center {
	margin-top: 4px;
	margin-left: 4px;
}

/*----------------
    Power menu
----------------*/

#custom-power {
	padding: 3px;
	margin-right: 2px;
	margin-top: 4px;
}

#custom-hyprland_workspace_0,
#custom-hyprland_workspace_1 {
	margin: 0 16px;
}