/*----------------
    Media info
----------------*/

#mpris.songdetails {
	margin-right: 1px;
	margin-left: 24px;
	background-color: unset;
	font-weight: bold;
}

/*------------
    Volume
------------*/

#custom-switch_sink {
	padding-right: 6px;
}

/*-----------
    Music
-----------*/
#custom-prev,
#mpris,
#custom-next {
	background-color: @tray;
	padding: 0 6px;
}

/*----------------
    Workspaces
----------------*/

#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}

#workspaces button.active label,
#workspaces button.focused label {
	color: @accent;
}