/*------------------
    Window title
------------------*/

#window {
	margin: 0 12px;
}

/*----------
    Time
----------*/

#clock.time {
	padding-left: 12px;
	font-size: 24px;
	font-family: "DS\-Digital";

}


/*-----------------
    Temperature
-----------------*/

#temperature {
	margin-left: 24px;
}

/*------------
    Memory
------------*/

#memory {
	margin-left: 24px;
}

/*---------
    CPU
---------*/

#cpu {
	margin-left: 24px;
}